# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
dist/
build/
.env

# Mobile (React Native / Expo)
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# OS
.DS_Store
Thumbs.db
